@keyframes slideLeft{
  from{
    transform: translateX(-300px);

  }
  to{
    transform: translateX(0);
  }

}

.heading-1{
  animation-name: slideLeft;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
}